QWidget {
	background-color: #202124;
	color: #f1f1f1;
}

QDoubleSpinBox,
QComboBox {
	background-color: #2b2d31;
	color: #f1f1f1;
	border: 1px solid #555555;
}

QDoubleSpinBox::up-button,
QDoubleSpinBox::down-button {
	background-color: #303134;
	border-left: 1px solid #555555;
}

QDoubleSpinBox::up-button {
	border-bottom: 1px solid #555555;
}

QDoubleSpinBox::up-button:hover,
QDoubleSpinBox::down-button:hover {
	background-color: #3c4043;
}

QDoubleSpinBox::up-arrow {
	image: url(style/icons/arrow_up.svg);
	width: 10px;
	height: 10px;
}

QDoubleSpinBox::down-arrow {
	image: url(style/icons/arrow_down.svg);
	width: 10px;
	height: 10px;
}

QPushButton {
	background-color: #303134;
	color: #f1f1f1;
	border: 1px solid #666666;
}

QPushButton:hover {
	background-color: #3c4043;
}

QTabWidget::pane {
	border: 1px solid #555555;
}

QTabBar::tab {
	background: #303134;
	color: #f1f1f1;
	padding: 6px;
}

QTabBar::tab:selected {
	background: #3c4043;
}
