QWidget {
	background-color: #f5f5f5;
	color: #111111;
}

QDoubleSpinBox,
QComboBox {
	background-color: #ffffff;
	color: #111111;
	border: 1px solid #aaaaaa;
}

QDoubleSpinBox::up-button,
QDoubleSpinBox::down-button {
	background-color: #eeeeee;
	border-left: 1px solid #aaaaaa;
}

QDoubleSpinBox::up-button {
	border-bottom: 1px solid #aaaaaa;
}

QDoubleSpinBox::up-button:hover,
QDoubleSpinBox::down-button:hover {
	background-color: #dddddd;
}

QDoubleSpinBox::up-arrow {
	image: url(style/icons/arrow-up-dark.svg);
	width: 10px;
	height: 10px;
}

QDoubleSpinBox::down-arrow {
	image: url(style/icons/arrow-down-dark.svg);
	width: 10px;
	height: 10px;
}

QPushButton {
	background-color: #eeeeee;
	color: #111111;
	border: 1px solid #999999;
}

QPushButton:hover {
	background-color: #dddddd;
}

QTabWidget::pane {
	border: 1px solid #aaaaaa;
}

QTabBar::tab {
	background: #e0e0e0;
	color: #111111;
	padding: 6px;
}

QTabBar::tab:selected {
	background: #ffffff;
}
