QWidget {
	font-size: 14px;
}

QPushButton {
	padding: 6px 10px;
	border-radius: 4px;
}

QDoubleSpinBox,
QComboBox {
	padding: 4px;
}

QLabel[class="h1"] {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 6px;
}
