QWidget {
	font-size: 14px;
}

QPushButton {
	padding: 6px 10px;
	border-radius: 4px;
}

QComboBox {
	padding: 4px;
}

QLabel[class="h1"] {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 6px;
}

QDoubleSpinBox {
	padding-right: 24px;
}

QDoubleSpinBox::up-button {
	subcontrol-origin: border;
	subcontrol-position: top right;
	width: 22px;
}

QDoubleSpinBox::down-button {
	subcontrol-origin: border;
	subcontrol-position: bottom right;
	width: 22px;
}
